<!Doctype html>
<html class="no-js" lang=""
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout :: layout(vCenter='no', currentPage='profile')}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Profile | Agency App</title>
</head>
<body>
<div class="control-banks"
     layout:fragment="content">

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-light">

        <h4 th:text="${profile.fullName}"></h4>
        <h6 class="font-italic" th:text="${profile.email}"></h6>

        <hr>

        <div class="col-md-6 px-0">
            <h2 class="font-italic" th:text="${profile.pinStatus}"></h2>
        </div>
    </div>

    <div class="card mt-md-5 mt-3 mb-4 box-shadow-1">
        <div class="card-body">
            <h5 class="mb-4">My Posts
                <a sec:authorize="isAuthenticated()"
                   th:href="@{post/create}"
                   class="btn main-btn float-right">Create Post</a>
            </h5>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered basic-table Post-config-table">

                    <tr th:each="Post,index:${posts}">
                        <div class="blog-post">

                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img th:src="@{/static/img/status.png}">
                                    </div>
                                    <div class="col-xs-2" style="width:5px">
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="blog-post-title" th:text="${Post.status}"></h4>
                                    </div>
                                </div>
                            </div>

                            <small class="mb-2" th:text="${Post.postAt}"></small>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img th:src="@{/static/img/user.png}">
                                    </div>
                                    <div class="col-xs-2" style="width:5px">
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="blog-post-title" th:text="${Post.postBy}"></a>
                                    </div>
                                </div>
                            </div>


                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img th:src="@{/static/img/location.png}">
                                    </div>
                                    <div class="col-xs-2" style="width:5px">
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="blog-post-title" th:text="${Post.location}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img th:src="@{/static/img/privacy.png}">
                                    </div>
                                    <div class="col-xs-2" style="width:5px">
                                    </div>
                                    <div class="col-xs-4">
                                        <a class="blog-post-title" th:text="${Post.privacyType}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="container mt-3">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a th:href="@{'post/edit/' + ${Post.id}}"
                                            class="btn main-btn btn-sm float-right mr-3">Edit Post</a>
                                    </div>
                                    <div class="col-xs-4" th:if="${Post.id} != ${profile.pinPostId}">
                                        <a th:href="@{'profile/pin/' + ${Post.id}}"
                                            class="btn btn-secondary btn-sm float-right">Pin Post</a>
                                    </div>

                                    <div class="col-xs-4" th:if="${Post.id} == ${profile.pinPostId}">
                                        <a th:href="@{profile/unpin/}"
                                           class="btn btn-secondary btn-sm float-right">Unpin Post</a>
                                    </div>

                                </div>
                            </div>

                            <hr>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12 pt-3 pr-0" th:if="${posts.totalElements > posts.pageable.pageSize}">
                <nav>
                    <ul class="pagination justify-content-end">
                        <li class="page-item "
                            th:classappend="(${posts.pageable.pageNumber <= 0})? 'disabled' : ''">
                            <a class="page-link"
                               th:href="@{${ 'profile' + '?page='} + ${posts.pageable.pageNumber - 1} + ${'&size=' + posts.pageable.pageSize}}"
                               tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item "
                            th:each="i:${#numbers.sequence(0, posts.totalPages - 1)}"
                            th:classappend="(${i == posts.pageable.pageNumber})? 'active' : ''">
                            <a class="page-link"
                               th:href="@{${'profile' + '?page='} + ${i} + ${'&size=' + posts.pageable.pageSize}}"
                               th:text="${i + 1}">1</a>
                        </li>
                        <li class="page-item"
                            th:classappend="(${posts.pageable.pageNumber >= posts.totalPages - 1})? 'disabled' : ''">
                            <a class="page-link"
                               th:href="@{${'profile' + '?page='} + ${posts.pageable.pageNumber + 1} + ${'&size=' + posts.pageable.pageSize}}"
                            >Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
</body>
</html>